In [1]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [19]:
hours = np.array([0,1,2,3,3,5,5,6,7,7,10,5]) # Independent variable
marks = np.array([96,85,82,74,95,68,76,58,65,75,50,84])

sum_of_hours=0
sum_of_marks=0
for i in hours:
    sum_of_hours +=i

for i in marks:
    sum_of_marks +=i


x_multiply_y = sum_of_hours * sum_of_marks
# print(sum_of_hours)
# print(sum_of_marks)
print(x_multiply_y)

49032

In [11]:
# submission
xy = np.sum(hours * marks)
print(xy)

3724

In [8]:
indiv_x_square = 0
for i in hours:
  indiv_x_square += i**2

print(indiv_x_square)

332

In [7]:
sum_of_square = (sum_of_hours)**2
print(sum_of_square)

2916

In [10]:
n = len(hours)
print(n)

12

In [ ]:
# Formula
 # n*xy - y/ n(x^2)-(x)^2

In [20]:
numerator = (n*(xy)) - x_multiply_y
denominator = (n*(indiv_x_square)) - sum_of_square
print(numerator)
print(denominator)

-4344
1068

In [21]:
m = numerator/denominator
print(m)

-4.067415730337078

In [24]:
user = int(input("Enter the hours spend: "))
# c=y-mx
c = (sum_of_marks-m*(sum_of_hours))/n
print(c)

Enter the hours spend: 9
93.97003745318352